body{
    
    background-color: 	#008080
    ;
}
#csp{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    justify-content: space-between;
    padding: 10px;

}
a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    background-color: #E45826;
    border-radius: 100px;
    padding: 8px;
}
a:hover{
    background-color: 	#808000;
    color: #7CFC00;
}
header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid gold;
}
.img{
    text-align: center;
}
.h3{
    color: #00FA9A;
    text-decoration: underline whitesmoke;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.p{
    
    color: 	#7CFC00;
    font-family: Arial, Helvetica, sans-serif;
}
